@model WarehouseEmployeesViewModel

@{
    ViewData["Title"] = "Employees in " + Model.WarehouseName;
}

@section Styles
{
    <link rel="stylesheet" href="~/assets/plugins/datatables.bundle.css" />
}

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold text-primary">
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <!-- SVG icon code -->
                </span>
            </div>
        </div>
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">Employees in @Model.WarehouseName</h5> <!-- Display the warehouse name from model -->
        </div>
    </div>
    <div>
        <a href="javascript:;" class="btn btn-sm btn-primary js-render-modal"
           data-title="Add Employee" data-url="/Employees/Create">
            <i class="bi bi-plus-square-dotted"></i>
            Add
        </a>
    </div>
</div>

<div class="card shadow-sm">
    <partial name="_SearchAndExport" />
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-row-dashed table-row-gray-300 gy-2 align-middle js-datatables" data-document-title="Employees">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Is Deleted</th>
                        <th>Phone</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                        <th class ="js-no-export">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Employees)
                    {
                        @await Html.PartialAsync("~/Views/Employees/_EmployeeRow.cshtml", employee)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Plugins
{
    <script src="~/assets/plugins/datatables.bundle.js"></script>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.js-datatables').DataTable();
        });
    </script>
}
