@model OrderFormViewModel

<form method="post" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="ShowErrorMessage"
      data-ajax-complete="onModalComplete">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" placeholder="WarehouseId" asp-for="WarehouseId" />
            <label asp-for="WarehouseId"></label>
        </div>
        <span asp-validation-for="WarehouseId" class="text-danger d-block"></span>
    </div>
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="number" class="form-control" placeholder="Beneficiary Id" asp-for="BeneficiaryId" />
            <label asp-for="BeneficiaryId"></label>
        </div>
        <span asp-validation-for="BeneficiaryId" class="text-danger d-block"></span>
    </div>
    <partial name="_ModalFooter" />

</form>
